html {
    font-family: 'Lato', sans-serif;
    background-image: url(https://www.skotcher.com/wall/4d2cc02a843fcc46e3ebaed3953fea5c/bridge-fog-golden-gate-bridge-mist-san-francisco.jpg)
}
a:visited {
    color: aliceblue;
    background-color: transparent;
    text-decoration: none
}
.sidebar a:hover {
    color: red;
    background-color: transparent;
    text-decoration: bold;
}
.sidebar a {
    color: black;
    text-decoration: none;
}
body {
    margin: 0;
}
.sidebar {
    width: 150px;
    height: 100%;
    position: fixed;
    background: #333;
    top: 0;
    left: 0;
    font-size: 25px;
    color: black;
}
.sidebar ul {
    list-style: none;
    padding-left: 10px;
}
.sidebar ul li {
    height: 50px;
}
.socialnetwrok {
    right: 10px;
    bottom: 10px;
    position: fixed;
    left: 150px;
    font-style: oblique;
}
.socialnetwrok a {
    float: right;
}
.main-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 150px;
}
.main-content img {} .footerbottom {} .center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.foont {
    font-family: 'Handlee', cursive;
}
